<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    input {
        width: 30%;
    }

    p:nth-child(3n) {
        background: #CCC
    }

    #err {
        color: red;
    }
</style>
<body>
<h1>Redis Form</h1>
<h2>Config</h2>
<form action={{ request.path }} method="get">
    {% csrf_token %}
    {{ config }}
    <input type="submit" value="change config"/>
</form>
{% if error_log %}
<h2 id="err">{{ error_log }}</h2>
{% endif %}
<h2>Values, count {{redis_formset|length}}</h2>
<form action={{ request.path }} method="post">
    {% csrf_token %}
    {{ redis_formset.as_p }}
    <input type="submit" value="change"/>
</form>
</body>
</html>

